<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Ok, my cool story.</h1>
    <p>So there I was, walking home. All of a sudden, the sky started to change @Model.Color1!</p>
    <p>The next thing I knew, I was @Model.Verb1 in a pond of @Model.Liquid... </p>
    <p>That seemed silly, so I got out, and noticed I was in a forest... not only that, but a (very obviously magical) @Model.Noun2 was<br>
    approaching me through the trees!</p><br>
    <p>Somehow I knew it wasn't going to hurt me... in fact, a strange compulsion was washing over me...</p>
    <p>And so, for what felt like @Model.Time, we @Model.PastVerb.</p>
    <p>Then I felt myself losing consciousness again... and I was back where I started, as if nothing had happened!</p>
    <p>Wierd but cool, huh!?</p>
  </body>
</html>