<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>So let me tell you a bit of a wierd story...</h1>
    <p>I was walking down the street, and I saw a @Model.Noun1.</p>
    <p>Now, that wouldn't be THAT wierd, but just a moment later a @Model.Noun2 walked up. </p>
    <p>Despite how @Model.Adjective1 and @Model.Adjective2 they were,</p>
    <p>The two of them did a little @Model.Verb1, touched their fingers, and merged into a @Model.Noun3!</p>
    <p>Just like the Dragonball Z fusion dance!</p>
    <p>It was crazy!</p>
  </body>
</html>